.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box:not(:last-child) {
  margin-bottom: 60px;
}

.footer-box .text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-list-footer .link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-list-footer .mail {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .container.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) and (min-width: 320px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .subscription.footer-box {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer-container {
    width: 1200px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .contacts-list-footer {
    width: 231px;
  }

  .footer-box:not(:last-child) {
    margin-right: 70px;
  }

  .footer-box:nth-child(2) {
    margin-right: 93px;
  }
}
