// page-header

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $primary-background-color;
  position: relative;

  @media sscreen and (max-width: 767px) {
    position: relative;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

// end of .page-header

// site-nav

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 100px;
  }

  .site-nav .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav .link {
  position: relative;

  padding-top: 5px;
  padding-bottom: 5px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.site-nav .link.current {
  color: $accent-color;

  &::after {
    transform: scaleX(1);
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    min-height: 80px;
  }

  .navigation {
    display: flex;
  }

  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 88px;

    .item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and(min-width: 768px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 1.17;
  }

  .site-nav .link::after {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    transform: scaleX(0);
    transition: 250ms $timing-fn;

    background-color: $accent-color;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

/* Contacts */

// .contacts {
//   display: flex;
//   margin-left: auto;
// }

// .contacts-list .item:not(:last-child) {
//   margin-right: 50px;
// }

.contacts-list .link {
  display: inline-flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  color: $secondary-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contacts-list .item:last-child {
    margin-bottom: 32px;
  }

  .contacts-list .link {
    font-size: 34px;
    line-height: 1.17;
    color: $accent-color;
  }

  .link.mail {
    font-size: 24px;
    line-height: 1.16;
    color: $secondary-text-color;
  }
}

.address-icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }

  .contacts-list > .item:not(:last-child) {
    margin-right: 30px;
  }

  .address-icon {
    margin-right: 10px;
  }
}

// portfolio-header

// .portfolio-header {
//   margin-bottom: 94px;
// }
