.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;

  & .item:not(:last-child) {
    margin-right: 9px;
  }
}

.filter-button {
  padding: 6px 22px;

  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $primary-background-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
