.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-cross,
.icon-menu {
  fill: currentColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 20;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  background-color: $primary-background-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 15px;

    &.is-open {
      display: block;
      position: fixed;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
