.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms $timing-fn;

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: $primary-text-color;
  background-color: #ffffff;
  cursor: pointer;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.close-button .close-icon {
  fill: currentColor;
}
