.button {
  width: 200px;
  height: 50px;

  color: #ffffff;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $accent-color;
  }
}
