.modal {
  transition: 250ms $timing-fn;
  // width: calc(100% - 30px);
  padding: 40px;
  margin-right: auto;
  margin-left: auto;

  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    position: relative;
    overflow-y: scroll;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: $primary-text-color;
  background-color: #ffffff;
  cursor: pointer;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.close-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}
