.advantages-section .container {
  display: flex;
}

.advantages-list {
  display: flex;

  & .item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
  }
}

.advantages-list .title {
  margin-bottom: 10px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list .text {
  color: $secondary-text-color;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.advantages-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
