.clients-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  color: $icon-color;
  border: 1px solid #afb1b8;

  display: flex;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients-icon {
  fill: currentColor;
}
